/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus {
     border: 2px dotted purple;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
  position: absolute;
  top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
  position: absolute;
  top: 25px;
}

/*Write selector/rule property to style all elements when in focus*/
:focus {
     border: 5px dashed green;
}

/*Write selector/rule property to style the container */
.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          row-gap: 13px;
          column-gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container > :first-child{
     grid-column: 1/-1;
     background-image: url("../images/header.jpg");
}

/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.accounts-image, .onlinebanking-image, .security-image, .contact-image, .loans-image {
     grid-column: 1/-1;
     max-height: 675px;
}

img {
     width: 100%;
     height: 100%;
}

.accounts-image {
     grid-row: 2/3;
}
.accounts {
     grid-column: 2/5;
     grid-row: 2/3;
}

.onlinebanking-image{
     grid-row: 3/4;
}
.onlinebanking{
     grid-column: 2/5;
     grid-row: 3/4;
}

.security-image{
     grid-row: 4/5 ;
}
.security {
     grid-column: 2/5;
     grid-row: 4/5;
}

.loans-image{
     grid-row: 5/6;
}
.loans {
     grid-column: 2/5;
     grid-row: 5/6;
}

.contact-image{
     grid-row: 6/7;
}

.contact{
     grid-column: 2/5;
     grid-row:6/7;
}

 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block {
     place-items: center;
     text-align: center;
     align-self: center;
}

.text-block ul{
     text-align: left;
}


/* Add your media query here */
@media screen and (min-width: 825px){

  /* Step 10: Write the selector/rule property to style the nav element */
     nav {
          padding-top: 35px;
          padding-bottom: 35px;
          padding-left: 0px;
          padding-right: 0px;
          text-align: right;
     }

  /* Step 11: Write the selector/rule property to update the .container class */
     .container{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     }

  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
      .accounts, .security, .contact {
          grid-column: 4/7;
      }

      .onlinebanking, .loans {
          grid-column: 2/5;
      }

      .accounts-image, .security-image, .contact-image {
          grid-column: 1/6;
      }

      .onlinebanking-image, .loans-image {
          grid-column: 3/8;
      }

 /* Step 16:Write the selector/rule property to update the .text-block class */

      .text-block {
          max-height: 635px;

      }
}